* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(223, 101, 101, 0.76)), url("img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

nav ul {
    width: 100%;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    background-color: aliceblue;
}

nav ul li {
    text-decoration: none;
    padding: 5px 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
}

nav li:first-child {
    margin-right: auto;
}

nav a:hover {
    background-color: rgb(146, 155, 164);
    padding: 5px;

}

.parent {
    color: aliceblue;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 20%;

    justify-content: center;
}

button {
    border: 2px solid yellow;
    border-radius: 6px;
    padding: 12px;
    margin: 12px 12px;
}

button:hover {
    background-color: grey;
    cursor: pointer;
    padding: 20px;
    color: blue;
}